/* .itemText {
    color:white;
}

.buttonColor {
    color: white;
} */

/* .MuiSvgIcon-root {
    color: white;
} */

/* .Mui-selected {
    background-color: #E60047 !important;
} */

.MuiTypography-body1 {
    font-size: small !important;
}